swagger: '2.0'
# See also: https://swagger.io/specification/v2/
info:
  title: 'API /smartprice/otapi/v1/svyaznoy'
  description: 'В тестовом режиме возможен случайный вариант ответа `success | fail` *(Возможно, потребуется включить **CORS**)*'
  version: '1.0.0'
  contact:
    email: 'pravosleva@smartprice.ru'
host: pravosleva.ru
basePath: /express-helper/smartprice/otapi/v1/svyaznoy
schemes:
  - http
tags:
  - name: 'imei'
    description: 'Check your IMEI'
    externalDocs:
      description: 'Find out more'
      url: 'http://swagger.io'
  - name: 'confirm_detection'
    description: 'Go on button'
  - name: accept_preprice
    description: 'Accept preprice'
paths:
  /imei:
    post:
      tags:
        - 'imei'
      summary: 'Returns specific OT data'
      description: 'Проверить IMEI'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: 'IMEI object that needs to be added to the store'
          required: true
          schema:
            $ref: '#/definitions/IMEIVerifyRequestParams'
      responses:
        200:
          description: 'OK'
          schema:
            info: 'Success response sample'
            type: object
            properties:
              ok: boolean
              imei: string
              phone:
                type: object
                properties:
                  vendor: string
                  model: string
                  memory: string
                  color: string
                  memory_choices:
                    $ref: '#/definitions/MemoryChoises'
                  color_choices:
                    $ref: '#/definitions/ColorChoices'
            example:
              ok: true
              imei: '868030034494821'
              phone:
                vendor: Xiaomi
                model: 'MI 6'
                memory: ''
                color: ''
                memory_choices:
                  - '128 GB'
                  - '64 GB'
                color_choices:
                  '128 GB':
                    - white
                    - ceramic_black
                    - blue
                    - black
                  '64 GB':
                    - white
                    - ceramic_black
                    - blue
                    - black
                type: mobile_phone
  /confirm_detection:
    post:
      tags:
        - 'confirm_detection'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmDetectionRequestParams'
      summary: 'Returns specific OT data'
      description: 'Кнопка Продолжить'
      responses:
        200:
          description: 'OK'
          schema:
            info: 'Success response sample'
            type: object
            properties:
              ok:
                type: boolean
                required: true
            example:
              ok: true
  /accept_preprice:
    post:
      tags:
        - 'accept_preprice'
      consumes:
        - application/json
      produces:
        - application/json
      summary: 'Returns success after accept preprice'
      description: 'Подтверждение на любом этапе до формирования ценника'
      responses:
        200:
          description: OK
          schema:
            info: 'Success response sample'
            type: object
            properties:
              ok: boolean
              need_photos:
                $ref: '#/definitions/NeedPhotos'
              additionalProperties:
                type: object
            example:
              ok: true
              need_photos:
                - back
                - front
              code: some text
              message: Message
              extra: null
            required:
              - ok

definitions:
  IMEIVerifyRequestParams:
    type: object
    properties:
      IMEI:
        required: true
        type: string
        description: 'Your device IMEI'
  ColorChoices:
    type: object
    additionalProperties:
      type: array
      items:
        type: string
    example:
      '128 GB':
        - white
        - ceramic_black
        - blue
        - black
      '64 GB':
        - white
        - ceramic_black
        - blue
        - black
  ConfirmDetectionRequestParams:
    type: object
    properties:
      color:
        required: true
        type: string
      device:
        required: true
        type: number
      memory:
        required: true
        type: string
      model_ok:
        required: true
        type: boolean
      same_imeis:
        required: true
        type: boolean
      turns_on:
        required: true
        type: boolean
  MemoryChoises:
    type: array
    items:
      type: string
  NeedPhotos:
    type: array
    items:
      type: string
